<div class="col service">
    <div class="row">
        <div class="fs-14 ff-oswald fw-semibold text-uppercase col-auto">
            {{ service.title }}
        </div>

        <div class="middle position-relative col">

        </div>

        <div class="fs-14 ff-oswald fw-semibold text-gold text-end col-auto">
            {{ service.price }} Kč
        </div>
    </div>

    <div class="fst-italic fs-13 mt-2 row">
        <div class="col-12 col-md-10">
            {{ service.description }}
        </div>
    </div>
</div>
